<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Thruway Management</title>
    <style>
        .highlight {
            background-color: lightgreen;
        }
    </style>
</head>
<body data-ng-controller="myController">

<input ng-model="something"/>
<button ng-click="getSessions()">Get stuff</button>
<div id="sessionList">
    <h3>Sessions:</h3>
    <ul>
        <li ng-repeat="session in managerSessions" ng-class="{ highlight: session.highlight }"
            ng-mouseover="sessionMouseOver(session, true)"
            ng-mouseout="sessionMouseOver(session, false)">
            {{ session.auth.authid }} - {{ session.transport.type }}({{ session.transport.transportAddress }}): {{ session.sessionStart }} {{
            session.realm }}
        </li>
    </ul>
</div>

<div id="registrationList">
    <h3>Registrations:</h3>

    <div ng-repeat="(realm, registrations) in managerRegistrations">
        <ul>

            <li ng-repeat="registration in registrations"
                ng-class="{ highlight: registration.highlight }"
                ng-mouseover="regMouseOver(registration)"
                ng-mouseout="regMouseOut(registration)">

                {{ registration.id }}: {{ registration.name }} -> session {{ registration.session }} {{ realm }}
            </li>
        </ul>
    </div>
</div>

<div id="realmList">
    <h3>Realms:</h3>
    <ul>
        <li ng-repeat="realm in managerRealms">
            {{ realm.name }}
        </li>
    </ul>
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
<script>
    var app = angular.module("myApp", []);

    var theScope;

    app.controller("myController", function ($scope, $filter) {
        theScope = $scope;
        $scope.managerSessions = [];
        $scope.managerRealms = [];
        $scope.managerRegistrations = {};

        $scope.getSessionById = function (sessionId) {
            res = $filter('filter')($scope.managerSessions, {id: sessionId});

            if (angular.isArray(res)) {
                return res.pop();
            } else {
                return null;
            }
        };

        $scope.regMouseOver = function (registration) {
            // highlight the session
            session = $scope.getSessionById(registration.session);

            session.highlight = true;
        };

        $scope.regMouseOut = function (registration) {
            // unhighlight the session
            session = $scope.getSessionById(registration.session);

            session.highlight = false;
        };

        $scope.sessionMouseOver = function (session, highlight) {
            registrations = $scope.managerRegistrations[session.realm];

            registrations.forEach(function (reg) {
                if (reg.session == session.id) { reg.highlight = highlight; }
            });
        };

        $scope.getSessions = function () {

            session.call('manager.sessions.get', []).then(
                    function (res) {
                        $scope.managerSessions = res;
                        $scope.$digest();
                    }
            );

            session.call('manager.realms.get', []).then(
                    function (res) {
                        $scope.managerRealms = res;
                        $scope.$digest();

                        angular.forEach($scope.managerRealms, function (realm) {

                            session.call('manager.realm.' + realm.name + '.registrations', []).then(
                                    function (res) {
                                        $scope.managerRegistrations[realm.name] = res;
                                        $scope.$digest();
                                    }
                            );

                        });

                    }
            );
        }
    });

    var connection = new autobahn.Connection({
        url: 'ws://127.0.0.1:9090/',
        realm: 'manager'
    });

    var session = null;


    connection.onopen = function (theSession) {
        session = theSession;

        session.call('manager.sessions.get', []).then(
                function (res) {
                    console.log("Result:", res);
                }
        );
    };

    connection.open();
</script>

</html>